In [1]:
import pandas as pd
import numpy as np

from main import set_test, ab_test_validation

In [2]:
TEST_NAME = 'ab_price_discount'

data = pd.DataFrame({
    'user_id': [1, 1, 2, 3, 3, 4, 5, 6],
    'dt': ['2021-01-01', '2021-01-02', '2021-01-01', '2021-01-02', '2021-01-03', '2021-01-02', '2021-01-05', '2021-01-01'],
    'group': [1, 1, 1, 2, 2, 2, 1, 1],
    'payment': [np.nan, 100, np.nan, 110, np.nan, 50, np.nan, 130]
})

In [3]:
data.describe()

        user_id     group     payment
count  8.000000  8.000000    4.000000
mean   3.125000  1.375000   97.500000
std    1.807722  0.517549   34.034296
min    1.000000  1.000000   50.000000
25%    1.750000  1.000000   87.500000
50%    3.000000  1.000000  105.000000
75%    4.250000  2.000000  115.000000
max    6.000000  2.000000  130.000000

In [4]:
set_test(TEST_NAME, pd.DataFrame(), 'group', 'dt', 'user_id')

Empty DataFrame
Columns: []
Index: []
ab_price_discount

In [5]:
ab_test_validation(TEST_NAME, 'avg')

KeyError: 'group'